<%= form_tag (sessions_path) do %>
	<%= text_field_tag :email, '', placeholder:'EMAIL' %><br>
	<%= text_field_tag :password, '', placeholder:'PASSWORD'%><br>
	<%= submit_tag %><br>
<% end %>
<li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>