	<div class ='items_box'>
			<%= image_tag("#{@listing.photo.url}") %>

			<p><%= @listing.name %></p>
			<p><%= @listing.price %></p>
			<p><%= @listing.description %></p>
			<p><%= @listing.seller.name %></p>

			<%= form_for [@listing,@order] do |f| %>

				<%= f.submit %><br>
			<% end %>
	</div>

