<!DOCTYPE html>
<html>
  <head>
    <title>Mercarry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    </div>

  	<% if logged_in?  %>
  		<%= current_user.email%>
  		<%= link_to "log out", session_path(current_user.id), :method => :delete %>
  	<% end %>
    <%= yield %>
  </body>
</html>
