<!DOCTYPE html>
<html>
  <head>
    <title>Mercarry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div id="flash">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
      </div>

    	<% if logged_in?  %>
    		Login : <%= current_user.name%>  (<%= current_user.email%>)
        <ul class="list-nav00">
          <li><%= link_to "Top", "/listings" %></li>
          <li><%= link_to "Create New Listing", new_listing_path %></li>
          <li><%= link_to "Log Out", session_path(current_user.id), :method => :delete %></li>
        </ul>
      <% end %>    

      <%= yield %>
    </div>
  </body>
</html>
